* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;
    padding: 1.2rem 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 56.2rem;
    padding: 10px;
}

.menu__links-signup {
    letter-spacing: 1px;
    margin-left: auto;
}

.menu__links-login {
    letter-spacing: 1px;
    margin-left: 1.5rem;
}

.header-container {
    display: flex;
    justify-content: center;
    color: #5995DA;
    background-color: #D6E9FE;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56.2rem;
    height: 19rem;
}

.header__subscribe,
.header__icon-social {
    align-self: flex-end;
    margin-bottom: 1.2rem;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 56.2rem;
}

.photo-grid__item {
    border: 3px solid #fff;
    width: 19rem;
    height: 19rem;
}

/* Reverse order */
.first-item {
    /* order: -1; */
}

.last-item {
    /* order: 1; */
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 15rem;
    flex: 1;
}

.footer__item-one,
.footer__item-three {
    background-color: #5995DA;
    flex: initial;
    width: 19rem;
}